@charset "utf-8";

/* MEDIA */

@media screen and (min-width: 320px) and (max-width:480px) and
(min-device-width: 320px) and (max-device-width:480px) {

  body {
    font-size: 12px !important;
  }

  .right_container {
    max-width: 98% !important;
    margin-left: 10px !important;
  }

  .wpanel {
    clear:both
  }

  #empty-query {
    font-size: 0.72em;
  }

  #logo > button {
    display: none;
  }

  #logo {
    width: 70px;
    float: left;
    margin-right: 0;
  }

  #logo img.logo {
    margin-left: 15px !important;
  }

  .navbar-brand {
    padding: 0;
  }

  #search-form button {
    margin-left: 0;
  }

  #search-panel {
    width: 80%;
  }

  #search-panel > ul {
    display: none;
  }

  #search-form {
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
  }

  #input-search{
    width: 75%;
    display: inline-block;
  }

  #search-text {
    margin-right: 0 !important;
    float: none !important;
  }

  #search-images {
    max-width: 500px !important;
    margin-right: 0 !important;
    float: none !important;
  }

  #search-form #autosuggest .autocomplete {
    width: 60%;
    left: 0;
    max-width: 434px;
    min-width: inherit;
  }

  #wiki-info {
    margin-bottom: 45px !important;
  }

  #mapblock .images-map {
    width: 100% !important;
    min-height: inherit;
  }

  #mapblock .images-list li{
    width: 25%;
  }

  #map {
    float: none;
    width: 100%;
  }

  #map > div {
    width: 99% !important;
  }

  #mapblock .images-map .images-list li a > img {
    width: 100%;
    height: initial;
  }

  .faves-list .video-item a img {
    width: 100%;
    height: initial;
  }

  .also_on-block .symi{
    display: none !important;
  }

  #favesblock .faves-list .shm {
    display: none !important;
  }

  #category-wrapper {
    margin-left: 0 !important;
    max-width: 480px !important;
  }

  #root-category .root-list {
    padding: 0 !important;
    margin: 0 0 10px 0 !important;
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }

  .root-list li h2 {
    font-size: 16px !important;
  }

  #sideRightAds{
    position: relative;
    float: left;
    max-width: 99% !important;
    width: 99%;
    margin-left: 10px !important;
  }

  #sideRightAds .ads-block .faves-list li .ads-img-block a img {
    max-width: 82px !important;
    max-height: 62px !important;
  }

  #sideRightAds .ads-block .faves-list li {
    padding: 2px !important;
    width: 92px !important;
  }

  #sideRightAds #ads-paginator{
    display: block;
  }

  #faves-wrapper .ads-block .faves-list li {
    padding: 2px;
    width: 86px !important;
  }

  #faves-wrapper .faves-list li:nth-child(1n+1) {
    margin-right: 11px !important;
    margin-left: 0 !important;
  }

  #sideRight .ads-block .faves-list li {
    padding: 2px !important;
    width: 96px !important;
    height: 168px !important;
  }


  /* LEFT NAVBAR */
  #sideLeft{
    width: 100% !important;
    padding: 0;
    height: 26px;
    display: block;
  }
  #catalog{
    display: block;
  }
  .left_container {
    float: none;
  }

  #lnav-button{
    display: none;
  }

  #catalog > li {
    padding-bottom: 20px;
    float: left;
  }

  /* TOP NAVBAR */
  #header .navbar{
    margin-bottom: 0;
  }

  .secFooter {
    height: 16px;
    overflow-y: hidden;
  }

  .art h3{
    height: 18px;
    overflow-y: hidden;
  }

  #sideRightAds {
    width: 98% !important;
  }

  #sideRightAds .tab-content .tab-pane .faves-list li:nth-child(1n+2) {
    margin-left: 0 !important;
  }

  #sideRightAds .tab-content .tab-pane .faves-list li:nth-child(1n+1) {
    margin-right: 11px !important;
  }

}

@media screen and (min-device-width: 481px) and (min-width: 481px)
and (max-device-width: 599px) and (max-width: 599px){
  body {
    font-size: 12px !important;
  }

  .right_container {
    width: 95% !important;
    max-width: 95% !important;
    margin-left: 10px !important;
  }

  .wpanel {
    clear:both
  }

  #empty-query {
    font-size: 0.72em;
  }

  #logo > button {
    display: none;
  }

  #logo {
    width: 70px;
    float: left;
    margin-right: 0;
  }

  #logo img.logo {
    margin-left: 15px !important;
  }

  #search-panel {
    width: 85%;
  }

  .navbar-brand {
    padding: 0;
  }

  #search-form button {
    margin-left: 0;
  }

  #search-form {
    position: relative;
    width: 100% !important;
  }


  #input-search{
    width: 85%;
    display: inline-block;
  }

  #search-text {
    margin-right: 0 !important;
    float: none !important;
  }

  #search-images {
    max-width: 500px !important;
    margin-right: 0 !important;
    float: none !important;
  }

  #filter-panel{
   display: none;
  }

  #wiki-info {
    margin-bottom: 45px !important;
  }

  #mapblock .images-map {
  }

  #map {
    float: left;
  }

  #map > div {
    width: 100% !important;
  }

  #mapblock .images-map .images-list li a > img {
    width: 123px !important;
    height: 80px !important;
  }

  .faves-list .video-item a img {
    width: 110px;
    height: 80px;
  }

  .also_on-block .symi{
    display: none !important;
  }

  #favesblock .faves-list .shm {
    display: none !important;
  }

  #category-wrapper {
    margin-left: 0 !important;
    max-width: 480px !important;
  }

  #root-category .root-list {
    padding: 0 !important;
    margin: 0 0 10px 0 !important;
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }

  .root-list li h2 {
    font-size: 16px !important;
  }

  #sideRightAds{
    position: relative;
    float: left;
    width: 505px !important;
    max-width: 505px !important;
    margin-left: 10px !important;
  }

  #sideRightAds .ads-block .faves-list li .ads-img-block a img {
    max-width: 82px !important;
    max-height: 62px !important;
  }

  #sideRightAds .ads-block .faves-list li {
    padding: 4px !important;
    width: 146px !important;
  }

  #sideRight .ads-block .faves-list li {
    padding: 2px !important;
    width: 146px !important;
    height: 168px !important;
  }

  #faves-wrapper .ads-block .faves-list li {
    padding: 2px;
    width: 86px !important;
  }

  #faves-wrapper .faves-list li:nth-child(1n+1) {
    margin-right: 12px !important;
    margin-left: 0 !important;
  }

  /* TOP SEARCH BAR */
  .navbar {
    margin-bottom: 0;
  }

  /* LEFT NAVBAR */
  #sideLeft{
    width: 100% !important;
    padding: 0;
    display: block;
  }

  #catalog{
    display: block;
  }

  #lnav-button{
    display: none;
  }

  #catalog > li {
    padding-bottom: 20px;
    float: left;
    min-height: 22px;
  }

}

@media screen and (min-device-width: 600px) and (min-width: 600px)
and (max-device-width: 800px) and (max-width: 800px){
  #logo {
    width: 90px;
    float: left;
    margin-right: 0;
  }

  #logo img.logo {
    margin-left: 15px !important;
  }

  #search-form {
    position: relative;
  }

  #input-search{
    width: 80%;
    display: inline-block;
  }

  #search-form button {
    margin-left: 0;
    float: left;
  }

  #sideCenter{
    margin-left: 10px !important;
  }

  #category-wrapper {
    margin-left: 0 !important;
    max-width: 768px !important;
  }

  .center_container {
    width: 505px !important;
    max-width: 505px !important;
  }

  /* LEFT NAVBAR */
  #sideLeft{
    width: 100% !important;
    padding: 0;
    margin-left: 73px;
  }

  #sideRight{
    margin-left: 80px;
  }

  #sideRightAds {
    margin-left: 80px !important;
  }
  #sideRightAds .images-map .images-list li a > img {
    width: 122px !important;
  }
  #sideRightAds .faves-list .video-item a img {
    width: 100%;
  }
  #sideRightAds .tab-content .tab-pane .faves-list li:nth-child(1n+1) {
    margin-left: 0 !important;
    margin-right: 12px !important;
  }
  #mapblock .images-map {
    width: 48% !important;
  }
  #faves-wrapper .faves-list li:nth-child(1n+2) {
    margin-left: 0 !important;
  }
  #faves-wrapper .faves-list li:nth-child(1n+1) {
    margin-right: 12px !important;
  }

  #lnav-button{
    display: none;
  }

  #catalog > li {
    padding-bottom: 20px;
    float: left;
  }

  #search-panel {
    width: 505px;
  }

}
@media screen and (max-device-width: 1024px) and (max-width: 1024px) {

}

@media screen and (min-device-width: 800px) and (min-width: 800px)
and (max-device-width: 1024px) and (max-width: 1024px){
  #logo {
    width: 145px;
  }

  #mapblock .images-map .images-list li a>img {
    width: 124px !important;
    height: 80px !important;
  }

  #sideRightAds {
    position: relative;
    float: left;
    width: 505px !important;
    max-width: 505px !important;
    margin-left: 150px !important;
  }

  #sideRightAds .ads-block .faves-list li {
    padding: 4px;
    width: 166px;
    height: 186px;
    border: none;
  }
  #video-bing-block .faves-list li {
    margin-left: 0 !important;
  }

  #sideRightAds .ads-block .faves-list li {
    padding: 4px;
    width: 100% !important;
    height: 180px !important;
  }
  #sideRightAds .faves-list li:nth-child(1n+1) li {
    margin-right: 12px !important;
  }

  #sideRightAds .tab-content .tab-pane .faves-list li:nth-child(1n+2) {
    margin-left: 0;
    margin-right: 0;
  }

  #sideRightAds .tab-content .tab-pane .faves-list li:nth-child(1n+1) {
    margin-right: 12px !important;
  }
  #faves-wrapper .faves-list li:nth-child(1n+2) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #faves-wrapper .faves-list li:nth-child(1n+1) {
    margin-right: 12px !important;
  }

  #sideRightAds .faves-list li:nth-child(1n+1) {
    margin-right: 12px;
  }

  #sideRightAds .faves-list .video-item a img  {
    width: 100%;
    height: initial;
  }

  #search-toolbar {
    display: none;
  }

  #sideLeft{
    margin-left: 140px;
  }

  #sideRight {
    margin-left: 150px;
  }

}

/*
@media screen and (max-width: 1020px) and (max-device-width: 1020px){
  #infomap .paginator{
    display: none;
  }
  #sideRightAds #ads-paginator {
    display: block;
  }
  #search-toolbar{
    display: none;
  }
}

@media screen and (min-device-width: 1024px) and (min-width: 1024px)
and (max-device-width: 1280px) and (max-width: 1280px){
  #sideLeft {
    margin-left: 0;
  }
  #sideRight {}
}

@media screen and (max-width: 1280px) and (max-device-width: 1280px){
  #faves-wrapper .faves-block{
    margin-bottom: 22px !important;
  }
}

@media screen and (min-width: 1200px){

  #middle{
    max-width: 4000px;
  }

  #faves-wrapper .faves-block{
    margin-bottom: 22px !important;
  }

}
*/
