@charset "UTF-8";

@import url("/resources/font-awesome-4.3.0/css/font-awesome.min.css");

.text-center p { font-size: 1.3em; }

.motto-log h1 { font-weight: bold; }

#board .main-image {
	position: absolute;
	right: 35px;
	top: 40px;
	max-height: 260px;
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.list-cap { width: 64px; }

.tour {
	padding: 0 10px;
	list-style: none;
}

.big-cap {
	float: left;
	margin-right: 20px;
	height: 36px;
}

.big-cap img { width: 32px; }

.big-title {
  color: #268CC5;
  font-size: 24px;
  font-variant: small-caps;
  font-weight: bold;
}

.tour-item { margin-bottom: 50px; }

.item-title { margin-bottom: 16px; }

.item-text p { font-size: 1.1em; }

.tour-item div:first-child {}

.tour-item .item-screenshot,
.tour-item .item-motto {
	display: inline-block;
	vertical-align: top;
}

.tour-item .item-screenshot {
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	text-align: center;
}

.tour-item .item-motto { width: 100%; }

.tour-item .item-screenshot img {
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}
