@charset "UTF-8";
@import '/resources/css/fonts/myriad/myriad.css';
@import '/resources/css/izsearch/filters/twoblock/rss.css';

* {
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    min-width: 1240px;
    font-family: Helvetica, Verdana, Arial sans-serif;
    font-size: 14px;
    color: #555;
}

a {
    color: blue;
}

ul {
    list-style: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

div {
    position: relative;
}
#logo {
    display: inline-flex;
    margin-top: 15px;
    align-items: center
}
#logo > a {
    display: inline-block;
    margin-bottom: 5px;
}

#logo .iz_logo {
    margin-right: 10px;
}

#logo .iz_logo img{
    max-height: 32px;
}
#logo > a img {
    max-height: 28px;
    width: 37px;
}

#wrapper {
    position: relative;
   /* margin: 0 40px;*/
    margin-left: 40px;
}

#header-wrapper {
    height: 60px;
    position: fixed;
    margin-bottom: 60px;
    background: #fff;
    z-index: 100;
    width: 100%;
    left: 0;
    padding-left: 20px;
}

#header-block {
    position: relative
}

#logo-block, #search-block, #tools-block {
    position: relative;
}

#logo-block {
    width: 50px;
    float: left;
    margin-right: 20px;
    z-index: 102;
}

#tools-block {
    position: absolute;
    right: 20px;
    top: 14px;
    width: 172px;
    display: none;
}

#search-block {
    display: inline-block;
    width: calc(100% - 70px);
    padding-left: 95px;
    position: relative;
}
#search-block:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 60px;
  background: linear-gradient(#fff,#f5f5f5);
  top: 0;
  left: 95px;
}
.input_wrap {
  display: inherit;
  width: 400px;
}

#search-toolbar {
  display: flex;
  flex-direction: column-reverse;
}
#search-toolbar .first {
  width: 25px;
}
#search-toolbar li {
  margin: 0;
}
#search-form {
    padding-top: 11px;
    float: left;
    width: calc(100% - 61px);
    margin: 0
}

#search-form .form-group {
    margin-bottom: 5px;
}

#btn-search {
    float: left;
    margin-top: 6px;
    height: 38px;
    width: 61px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #297beb;
    border-left: none;
    background: #297beb;
    right: 0;
}
#btn-search i {
    top: 0;
    line-height: 2;
    color: #fff;
    font-size: 18px;
}
#btn-search img {
    width: 20px;
    height: 20px;
}

#input-search {
    height: 38px;
    padding-right: 10px;
    font-size: 17px;
    float: left;
    border-right: none;
}
button#btn-trigger {
    float: left;
    margin-top: 11px;
    height: 38px;
    width: 61px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #297beb;
    border-left: none;
    background: #297beb;
}
#btn-trigger .glyphicon {
    top: 0;
    line-height: 2;
    color: #fff;
    font-size: 18px;
}

.input-inside {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    right: 9px;
    top: 5px;
    z-index: 2;
}

/* --- Dropdown: more menu --- */
#moreMenu.dropdown {
  top: -14px;
  display: inline-block;
  z-index: 1000;
  bottom: auto;
  height: 30px;
  position: relative;
  margin-left: 5px;
  border-right: 1px solid #ccc;
  padding-right: 8px;

}

#moreMenu.dropdown > button#moreMenuButton {
    height: 30px;
    padding: 0;
    border: none;
    color: #555;
    outline: none;
    display: flex;
    background: transparent !important;
    align-items: center;
}

.icon-inert {
    display: block;
    width: 16px;
    height: 16px;
}
#moreMenuButton:hover,
#moreMenuButton:active,
#moreMenuButton:focus{
    background: #eee;
}
#moreMenuButton span {
    margin: 0 8px;
    line-height: 24px;
    position: relative;
    top: 2px
}
#moreMenu.dropdown > button#moreMenuButton:hover > i.icon-inert,
#moreMenu.dropdown > button#moreMenuButton:focus > i.icon-inert,
#moreMenu.dropdown > button#moreMenuButton:active > i.icon-inert {
    background-position: -26px center;
}

#moreMenu.dropdown > .dropdown-menu {
    width: 550px;
    margin: 12px 0 0;
    left: auto;
    right: -100px !important;
}

#moreMenu.dropdown > .dropdown-menu > img.arrow {
    position: absolute;
    left: auto;
    top: -13px;
    right: auto;
    bottom: auto;
}

#moreMenu.dropdown > .dropdown-menu > li > a {
    clear: none;
    float: left;
    width: 182px;
    padding: 4px 10px 4px 15px;
    color: #838383 !important;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    text-decoration: none;
}

#moreMenu.dropdown > .dropdown-menu > li > a > img {
    max-width: 16px;
    max-height: 16px;
    margin: 0 7px 0 0;
    position: relative;
    top: -2px;
}

#moreMenu.dropdown > .dropdown-menu > li > a:hover,
#moreMenu.dropdown > .dropdown-menu > li > a:focus,
#moreMenu.dropdown > .dropdown-menu > li > a:active {
    background: transparent;
}

#moreMenu.dropdown > .dropdown-menu > li.divider {
    float: left;
    background-color: transparent;
    width: 100%;
    margin-top: 0;
}

/* --- Dropdown Filter Menu --- */
#left_block {
    /*margin: 0 0 0 calc(100% - 280px);*/
    float: left;
    position: relative;
    left: auto;
    top: 0;
    right: auto;
    z-index: 9;
    bottom: auto;
   /* background: linear-gradient(#fff, #f5f5f5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 6px;*/
}
#carousel-block {
    background: linear-gradient(#fff, #f5f5f5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 6px;
    height: 41px;
    border-left: 20px solid #fff;
    padding: 0 38px;
    display: table;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: calc(100% - 144px);
    left: 125px;
    top: 15px;
}
#filterMenuButton {
    background: transparent;
    width: 39px;
    height: 38px;
    margin: 0;
    padding: 0;
    color: #555;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#filterMenuButton:focus{
    outline: none;
}

#filterMenuButton > i.icon-inert {
    display: block;
    background: url('/resources/img/nav/menu-filter.png') no-repeat scroll 0 center transparent;
    width: 24px;
    height: 21px;
    margin: 7px;
}

#filterMenuButton:hover > i.icon-inert,
#filterMenuButton:focus > i.icon-inert,
#filterMenuButton:active > i.icon-inert {
    background-position: -26px center;
}

#filterMenu.dropdown > .dropdown-menu {
    margin: 12px 0 0;
    left: auto;
    right: auto;
}

#filterMenu.dropdown > .dropdown-menu > img.arrow {
    position: absolute;
    left: auto;
    top: -13px;
    right: auto;
    bottom: auto;
}

#filterMenu.dropdown > .dropdown-menu > li > a {
    clear: none;
    float: left;
    width: 180px;
    padding: 4px 10px 4px 15px;
    color: #838383;
    font-size: 14px;
    font-weight: 600;
}

#filterMenu.dropdown > .dropdown-menu > li > a > img {
    margin: 0 4px 0 0;
}

#filterMenu.dropdown > .dropdown-menu > li > a:hover,
#filterMenu.dropdown > .dropdown-menu > li > a:focus,
#ilterMenu.dropdown > .dropdown-menu > li > a:active {
    background: transparent;
}

#filterMenu.dropdown > .dropdown-menu > li > a:hover > span,
#filterMenu.dropdown > .dropdown-menu > li > a:focus > span,
#filterMenu.dropdown > .dropdown-menu > li > a:active > span {
    color: #297beb;
    text-decoration: underline;
}

#filterMenu.dropdown > .dropdown-menu > li.divider {
    float: left;
    background-color: transparent;
    width: 100%;
    margin-top: 0;
}

#catalog,
#lnav-button {
    display: none;
}

/* --- end. Dropdown: more menu --- */

#filter-images {
    padding-top: 35px;
}

/* LEFT */
#left-wrapper {
    margin-bottom: 7px;
}

#left-nav-01, #left-nav-02 {
    max-height: 143px;
    overflow: hidden;
    margin-bottom: 0;
}

#left-nav-01.all_cats, #left-nav-02.all_cats{
    max-height: inherit;
}
#left-nav-01 {
    display: none;
    text-transform: capitalize;
}
#left-nav-01 img {
    width: 16px;
    margin-right: 11px;
}
#left-nav-default {
    margin: 0;
    margin-top: 5px;
}
#left-nav-default li:first-child {
    padding-left: 27px;
}
#left-nav-01 li {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#left-nav-02 li {

}

#left-nav-01 a, #left-nav-02 a, #left-nav-default a{
    padding: 0 25px 0 0;
    white-space: nowrap;
    color: #555;
    font-size: 13px;
}

#left-nav-02 li a {
    white-space: nowrap;
}

#lnav-wrapper {

}

#left-nav-01 li span:first-child, #left-nav-02 li span:first-child, #left-nav-default li span:first-child{
    margin-right: 10px;
}

#lnav-wrapper li span:first-child img {
    margin-bottom: 4px;
    width: 14px;
}

#lnav-button {
    margin-bottom: 7px;
    /* display: inline-block; */
    cursor: pointer;
}

#lnav-button span {
    margin-right: 5px;
}

#left-navigation li {
    padding-top: 8px;
}
#lnav-wrapper li a:hover {
    text-decoration: none;
}
#left-navigation.list-unstyled > li {
    display: inline;
    padding-bottom: 12px;
}

#middle-wrapper {
    margin-top: 70px;
    width: calc(100% - 128px);
    margin-left: 128px;
}

/* OTHERS */
.btn-default:hover, .btn-default:focus,
.btn-default:active, .btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #39ACF3;
    color: #39ACF3;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 41%, rgba(225, 245, 255, 1) 85%, rgba(225, 245, 255, 1) 100%);
}

.caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    cursor: pointer;
}

#catalog {
    display: none;
    margin-top: 0;
    top: 32px;
    background: #fff;
    z-index: 9999;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: left;
    padding: 6px 0;
    -column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

#catalog > li {
    display: block;
    width: 160px;
}

#catalog a {
    display: block;
    padding: 4px 7px;
    width: 100%;
}

#catalog a > span {
    margin-right: 10px;
}
.ct {
    color: #297beb;
    height: 35px;
    display: inline-block;
    width: 100%;
    z-index: 1;
   /* margin-top: 20px;*/
   /* margin-bottom: -10px;*/
}
.ct h2{
    float:left;
    font-size: 17px;
    font-weight: 600;

}
/* Slick carousel */
#right_block {
    float: right;
    position: relative;
    left: auto;
    z-index: 999;
    bottom: auto;
    top: 18px;
    height: 30px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
#right_block .more_faves:hover {
    background: #eee;
}
#right_block .hide_elem {
    width: 170px;
    float: none;
    clear: both;
    right: -84px;
    background: #f5f5f5;
    padding-right: 12px;
    display: none;
}
#right_block .hide_elem a {
    border-left: none !important;
}
#right_block .more_faves {
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-left: 1px solid #ccc;
    color: blue;
    cursor: pointer;
}
#right_block .more_faves i {
    position: relative;
    top: -2px;
    margin-left: 5px;
}
#right_block ul:after {
  content: "";
  height: 30px;
  width: 1px;
  background: #ccc;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -1px;
}
#right_block ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#right_block .navbar-nav >li a.active {
    background: #eee;
}
#right_block .navbar-nav >li a{
    cursor: pointer;
    padding: 5px 8px;
    border-left: 1px solid #ccc;
}
#right_block .navbar-nav >li a:hover,
#right_block .navbar-nav >li a:focus{
    background: #eee;
}
#tabbed-nav {
    margin: 0;
    max-height: 37px;
    overflow: hidden;
}

#tabbed-nav-list {
    margin: 0;
}

#tabbed-nav-list .tab-pane {
    display: none;
    max-width: 70%;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
#right_block .tab-pane .fv {
    display: inline-block;
    padding: 15px 20px;
    margin-top: 0;
}
#right_block .tab-pane .fv:hover {
   background: #eee;
}
#tabbed-nav-list .active {
    display: block;
}

#tabbed-nav .list-tab {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border: none;
    position: relative;
    text-align: center;
}
#right_block ul.dropdown-menu {
    width: 603px;
    max-height: 500px;
    overflow-x: auto;
}

#tabbed-nav .list-tab li {
    display: inline-block;
    position: relative;
    min-width: 86px;
    background-color: #fff;
    border: 1px solid #C9DFF2;
    border-radius: 6px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #CAE6FF;
    padding: 0 5px;
    margin: 0 5px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgb(121, 184, 255);
    float: none;
}

#tabbed-nav .list-tab li.active {
    background-color: rgb(121, 184, 255);
}

#tabbed-nav .list-tab li.active a {
    color: #fff;
}

#tabbed-nav .list-tab li.active a:hover {
    color: rgb(121, 184, 255);
}

#tabbed-nav .list-tab li:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 41%, rgba(225, 245, 255, 1) 85%, rgba(225, 245, 255, 1) 100%);
}

#tabbed-nav .list-tab li a {
    display: inline-block;
    border: none;
    padding: 0;
    color: rgb(121, 184, 255);
    line-height: 32px;
    height: 100%;
    width: 100%;
}

#tabbed-nav .nav-tabs > li > a,
#tabbed-nav .nav-tabs > li > a:hover,
#tabbed-nav .nav-tabs > li > a:focus {
    background-color: transparent;
    border: none;
}

#search-toolbar .btn-sm,
.btn-group-sm > .btn {
    border: none;
    background-color: transparent;
}

.tooltip > .tooltip-inner {
    background-color: #f7f7f7;
    padding: 5px 10px;
    color: #777;
    border-radius: 5px;
    border: 2px solid #a6c9e2;
    font: normal 12px Verdana, 'Helvetica Neue', Sans-Serif;
    box-shadow: 0 0 3px #a6c9e2;
    text-align: justify;
    max-width: 360px !important;
    width: auto;
}

.tooltip.top > .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #a6c9e2
}

.tooltip.left > .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #a6c9e2;
}

.tooltip.bottom > .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #a6c9e2;
}

.tooltip.right > .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #a6c9e2;
}

.glyphicon {
    top: 0;
    line-height: 2;
}

.grob {
    height: 0;
    width: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
}

.first {
    margin: 0 2px 0 0;
}

.last {
    margin: 0 0 0 2px;
}

.middle {
    margin: 0 2px 0 2px;
}

.imagelist {
    box-sizing: border-box;
    text-align: justify;
}

.imagelist > li {
    display: inline-block;
    height: 150px;
    vertical-align: top;
    padding-bottom: 10px;
}

.imagelist > li > a > img {
    display: block;
    height: 100%;
    max-width: 600px;
}

.imagelist:after {
    display: block;
    width: 100%;
    content: '';
}

.videos-list {
    text-align: justify;
}

.videos-list li {
    display: inline-block;
    width: 170px;
    height: 210px;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    list-style: none;
    vertical-align: top;
}

.videos-list li a img {
    display: block;
    width: 100%;
    height: 55%;
}

.videos-list li .title {
    height: 80px;
    margin-top: 10px;
    overflow: hidden;
}

.videos-list li .caption {
    max-height: 60px;
    font-size: 15px;
    overflow: hidden;
}

.videos-list li .link {
    overflow: hidden;
    font-size: 15px;
}

.video-item .title {
    height: 80px;
    overflow: hidden;
    margin-top: 10px;
}

.videos-list:after {
    display: block;
    width: 100%;
    content: '';
}

/* --- KEYS ---- */
ul#keys {
    display: block;
    margin: auto;
    max-height: 29px;
    min-width: 350px;
    overflow: hidden;
}
ul#keys > li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #ddd;
    overflow: hidden;
    min-width: 50px;
}
ul#keys b{
    display: inline-block;
    top: -14px;
    font-size: 16px;
    position: relative;
}

ul#keys > li:last-child {
    border-color: transparent;
}

ul#keys > li > a {
    display: block;
    width: 100%;
    padding: 0 5px;
    font-size: 17px;
    max-height: 72px;
}

/* --- end keys. --- */

/* --- Mini Preview --- */
.filter_images ul.imagelist > li {
    position: relative;
}

.filter_images ul.imagelist > li > a.fancybox > img {
    height: auto;
    max-height: 140px;
}

.no-display-element {
    display: none !important;
}

#preview {
    display: table;
    background-color: #333;
    width: 1px;
    height: 0;
    padding: 5px;
    border: 1px solid #222;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    z-index: 999;
}

#preview > a {
    display: table;
    margin: 0;
    padding: 0;
}

#preview > a > img {
    display: block;
    width: auto;
    max-width: 600px;
    height: auto !important;
    max-height: 300px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#preview > .irhch {
    background-color: #333;
    padding: 8px 0 0;
    color: #999;
    text-align: left;
}
.irhch p{margin: 0;}
.irhch  a{color: #428bca;}
/* --- end. Mini Preview --- */

.left {
    float: left !important;
    margin-left: 0;
    margin-right: 10px;
}

.right {
    float: right !important;
    margin-right: 0;
    margin-left: 10px;
}

h3.bugfix-title {
    margin: 0;
    padding-left: 24px;
    position: absolute;
    top: 13px;
}

#rsads-wrapper .popover {
    display: block;
    border: none;
    box-shadow: none;
    min-height: 200px;
    min-width: 420px;
    width: 420px;
    top: 98px !important;
    left: auto !important;
    right: 0 !important;
}

#rsads-wrapper .popover.bottom {
    margin-top: 0;
}

#rsads-wrapper .popover-content {
    margin: 0;
    padding: 0;
}

.panel {
    margin-bottom: 0;
}

#autosuggest .autocomplete {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    top: 38px;
    left: 0;
    width: 100%;
    font-size: 17px;
    overflow-x: hidden;
    z-index: 10000;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#autosuggest .autocomplete li {
    display: list-item;
    text-align: left;
    list-style: none;
}

#btn-top-bugreport {
    background-image: url("/resources/img/nav/letter_gray.png");
}

#btn-top-bugreport:hover {
    background-image: url("/resources/img/nav/letter_blue.png");
}

#btn-top-redmine {
    background-image: url("/resources/img/nav/list_gray.png");
}

#btn-top-redmine:hover {
    background-image: url("/resources/img/nav/list_blue.png");
}

#btn-top-tools {
    background-image: url("/resources/img/nav/col_gray.png");
}

#btn-top-tools:hover {
    background-image: url("/resources/img/nav/col_blue.png");
}

#btn-filter-tool {
    display: inline-block;
    background-image: url("/resources/img/nav/filter_grey.png");
}

#btn-filter-tool:hover {
    background-image: url("/resources/img/nav/filter_blue.png");
}

.btn-nav-img {
    width: 24px;
    height: 21px;
}

#cat-title {
    text-align: center;
}

.fpage-title {
    text-align: center;
    margin: 20px 0 20px;
}

#search-toolbar .btn{
    padding: 5px 0;
    box-shadow: none !important;
}
/*Get to top button*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 77px;
    right: 61px;
    opacity: 0.5;
    display: none;
    border-radius: 50%;
    width: 50px;
    z-index: 999;
    background-color: #fff;
    color: #8C8888;
    box-shadow: 0 0 10px #716e6e !important;
    height: 50px;
    padding: 6px 12px;
}
.back-to-top span {color: #000;}
.showSocialButtons {
    opacity: 0.6;
    box-shadow: 0 0 10px #716e6e !important;
}
/*Left sidebar*/
#left_sidebar {
    width: 165px;
    height: 89vh;
    margin: 0;
    position: fixed;
    background: #fff;
    z-index: 98;
    padding: 0 10px 76px 22px;
    overflow-y: hidden;
    top: 70px;
    left: 0;
}


.accordion {
    display: inline-block;
    top: -2px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 99999;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 6px 6px 6px 20px;
    color: #555;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    height: 30px;
}

.accordion li:last-child .link {
    border-bottom: 0;
}
.accordion li {
  display: inline-block;
  margin-left: 15px;
  position: relative;
}
.accordion li:after {
  content: "";
  height: 30px;
  width: 1px;
  background: #ccc;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -8px;
}
.accordion li i {
    position: absolute;
    top: 7px;
    right: 0;
    color: #555;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion .left-icon{
    color: #297beb;
    left: 0 ;
    right: auto;
}

#left_sidebar .accordion li i.fa-chevron-down {
    left: 102px;
    display: none;
    color: #297beb;
}

#accordion .radio,
#accordion .checkbox{
    margin: 0;
    padding: 5px 0;
    font-size: 13px;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background: linear-gradient(#f5f5f5, #fff);
    font-size: 14px;
    position: absolute;
    padding-right: 20px;
    top: 30px;
    left: -12px;
    width: 219px;
    padding-top: 15px;

}
.submenu li:after {
  display: none;
}
.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}
img.arrow {
    right: 134px !important;
}
.more_sidebar {
    display: block;
    margin-top: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 27px;
}
#lnav_btn_1{display:none;}
#left_sidebar::-webkit-scrollbar {
    width: 12px;
}

#left_sidebar::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 5px #868585;*/
}

#left_sidebar::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 12px rgba(103, 100, 100, 0.7);
}
@keyframes loader-rotate {
    0% {
        transform: rotate(0deg); }
    100% {
        transform: rotate(360deg); } }


@media screen and (max-height: 670px) {
    #moreMenu1.dropdown>.dropdown-menu{height: 379px;}
    #moreMenu1.dropdown>.dropdown-menu>li>a{padding: 3px 20px !important;}
}

@media (max-width: 1400px) {
    .accordion .link span,
    #moreMenuButton span{
        display: none;
    }
    #moreMenu.dropdown {
        top: -9px;
        margin-left: 14px;
    }
    img.arrow {
        right: 108px !important;
    }
    .accordion .link {
        padding-right: 0;
    }
}
#article-delimeter {
   top: 60px;
    position: relative;
}
#video-menu-item {
    display: none;
}