#rss_modal{
    font-family: Arial, Helvetica, Verdana, Arial sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    overflow-y: hidden;
}

#rss_modal .close{
    font-size: 50px;
    margin-top: -40px;
    top: 5px;
    position: relative;
    margin-bottom: -7px;
}

#rss_modal .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}

#rss_modal .modal-dialog .modal-content{
    width: 100%;
    height: 100%;
    margin: 0;
}

#rss_modal .modal-dialog .modal-content .modal-header{
    position: fixed;
    padding: 0 15px;
    z-index: 999;
    width: 100%;
    background: white;
    right: 16px;
}

#rss_modal .modal-dialog .modal-content .modal-body{
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
}


#rss_modal .modal-dialog .modal-content .modal-body .top-content {
    font-family: Helvetica,Verdana,Arial sans-serif;
    text-align: center;
    max-width: 90%;
    position: initial;
    overflow: hidden;
    height: 143px;
    margin: 32px auto 0 auto;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka {
    display: inline-block;
    border-radius: 6px;
    height: 138px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .ads-brand {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    z-index: 200;
    left: 35px;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka img {
    display: unset;
    text-indent: -999px;
    width: 100%;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka .snuggle {
    background-image: linear-gradient(0deg,rgba(255,255,255,0.81) 100%,#000 100%);
    display: block;
    max-height: 180px;
    padding: 3px 0;
    width: 100%;
    position: absolute;
    transition: top .6s ease;
    top: 79px;
    z-index: 99;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka .snuggle h6 {
    font-size: 14px;
    line-height: 1.1em;
    padding: 0 5px;
    overflow: hidden;
    margin-top: 2px;
    max-height: 120px;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .plitka .pb {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 200;
    height: 26px;
}

#rss_modal .modal-dialog .modal-content .modal-body .top-content .slc .star-img img {
    width: 10px;
    height: 10px;
}


#rss_modal .art-content .item-left-block{
    position: relative;
    text-align: center;
    font-size: 16px;
    max-width: 70%;
    margin: 15px auto;
}

#rss_modal .art-content .item-right-block{
    display: inline-block;
    position: relative;
    width: 120%;
    margin-left: -10%;

}
#rss_modal .art-content .item-right-block .simart{
    margin: 50px auto 0;
}
#rss_modal .art-content .item  .item-left-block .item-title {
    color: blue;
    font-size: 20px;
    max-height: 100%;
    overflow: visible;
}

#rss_modal .art-content .item  .item-left-block .item-title:hover{
    text-decoration: underline;
}

.art-content .item .item-left-block .item-descr{
    margin: 0;
    color: #555;
    overflow: hidden;
}

#rss_modal .art-content .item .item-left-block .item-url{
    text-decoration: none;
}
.art-content .item .item-left-block .item-img {
    text-align: center;
}

#rss_modal .art-content .item .item-left-block .item-img img{
    display: inline-block;
    left: 0;
    border: 0;
    border-radius: 6px;
    max-width: 100%;
    max-height: 545px;
}

#rss_modal .art-content .item .item-left-block .item-footer{
    margin: 20px 0;
    border-top: 1px solid #e7e7e7;
    position: relative;
    text-align: center;
    padding: 20px 0 0 0;
    color: #555;
}


/* SIMILAR BlOCK */
#rss_modal .similar-content .item .item-right-block .simart a {
    color: blue;
}
#rss_modal .similar-content {
    margin: 60px auto 0 auto;
}
#rss_modal .similar-content .simart-descr a {
    color: #555 !important;
}
#rss_modal .similar-content .simart-descr a:hover {
    text-decoration: none !important;
}
#rss_modal .similar-content .item .item-right-block .simart-splink{
    position: absolute;
    text-align: left;
    margin: -20px 0 0 5px;
    color: #777;
    top: 30px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    display:none;
}
#rss_modal .similar-content .simart-sublink a {
    color: #555 !important;
}
.similar-content .simart-item {
    display: inline-block;
    background: #fff;
    border-radius: 6px;
    width: 236px;
    vertical-align: top;
    margin: 10px 5px 30px 5px;
    border: 1px solid rgba(80, 139, 247, 0.46);
    -webkit-box-shadow: 0 1px 2px 0 rgba(80, 139, 247, 0.46);
    box-shadow: 1px 1px 2px 0 rgba(80, 139, 247, 0.46);
}
.similar-content .simart-item:hover {
    cursor: pointer;
    border: 1px solid rgba(23, 89, 210, 0.89);
    -webkit-box-shadow: 0 1px 2px 0 rgba(23, 89, 210, 0.99);
    box-shadow: 2px 2px 3px 0 rgba(23, 89, 210, 0.99);
}
.similar-content .simart-item .simart-title{
    margin: 20px 10px;
    font-size: 16px;
    max-height: 83px;
    text-align: center;
    overflow: hidden;
    color: #555;
}
.similar-content .simart-item .simart-title a {
    font-size: 16px;
    max-height: 83px;
    text-align: center;
    overflow: hidden;
    color: #555;
    font-family: "MyriadPro";
    font-weight: bold;
}
.similar-content .simart-item .simart-descr {
    margin: 0 10px;
    max-height: 60px;
    overflow: hidden;
    text-align: justify;
    color: #555;
}

.similar-content .simart-item .simart-sublink{
    margin-top: 10px;
    color: #555;
    text-align: center;
}
.simart-footer {
    height: 46px;
    margin-top: 20px;
    border-top: 1px solid #e7e7e7;
}
.similar-content .simart-item .pub-domain {
    color: green;
    text-align: center;
    width: 100%;
    float: left;
}
.similar-content .simart-item .pub-date {
    white-space: nowrap;
}
.similar-content .simart-item .image-item {
    position: relative;
    text-align: center;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}
.image-item img {
    display: inline-block;
    border: 0;
    border-radius: 6px;
    max-width: 234px;
    max-height: 254px;
}
.modal_share i {
    font-size: 16px;
    color: #fff;
    padding-top: 8px;
    width: 32px;
    /* top: -2px; */
    height: 32px;
    text-align: center;
    border-radius: 50%;
}
.modal_share .fa.fa-google-plus {background-color: #bb0000;}
.modal_share .fa.fa-facebook {background-color: #3b5998;}
.modal_share .fa.fa-twitter {background-color: #00acee;}
.modal_share .fa.fa-pinterest {background-color: #cb2027;}
.modal_share ul>li {
    display: inline-block;
    margin: 0 10px;
}
.modal_share {
    position: relative;
    top: 1px;
    z-index: 999;
    margin: 0 auto;
    width: 350px;
    text-align: center;
}
.modal_share.trigger-share ul {
    margin: 0;
}

@media (max-width: 1400px) {
    #rss_modal .art-content .item .item-left-block .item-img img {
        max-height: 400px
    }
}