@charset "utf-8";

.center_container {
  width: 80% !important;
  min-width: 800px !important;
  max-width: 6000px !important;
}

#search-toolbar {
  display: none;
}

#about{
  display: none;
}


.liel{
  width: 125px;
  height: 75px;
  padding: 25px;

}

#search-text {
  margin-right: 50px;
  float: left;
}

.faves-list {
  margin-bottom: 30px;
}

#wrap_favelist .faves-list li {
  position: relative;
  list-style: none;
  float: left;
  border: 1px solid #ccc;
}

.faves-list li:nth-child(1n+1) {
  margin-right: -1px;
  margin-bottom: -1px;
}

.faves-list li:hover {
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(41%, rgba(255,255,255,1)), color-stop(85%, rgba(235,235,235,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );





}